Problem Statement:

NFL football is the most popular sport in the United States. The NFL minimal salary is $480,000, the mean salary is $630,000 according statisata.com.  Yet the average career length of a career is 3.3 year or 6 years according to NFL players association and NFL Headquarters respectively.     

The main factors in determining a long and successfully NFL career is skills at playing the game and the ability to avoid and recover from injuries. To this end, the main goal of this project is to predict the possible career of players.

Model Targets and Features:
Target Variable: career length (years played)

Feature set: college, height, weight 

Goals and Success Metrics:
The goal is to be able to predict with reasonable accuracy the number of seasons a player can expect to play in the NFL. This data could be a helpful input for coaching staffs.

For the purposes of this project, the success metric is the ability to produce and predicted career length.   

Risks and Limitations:
This will not take into account personal issues that could end careers prematurely. 

Factors outside of the players control are also not accounted for.

Data location: https://www.kaggle.com/kendallgillies/nflstatistics/downloads/nflstatistics.zip/1

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
nfl_basic = pd.read_csv('Desktop/Gen_Ass/Projects/Final/NFL data/Basic_Stats.csv')

In [4]:
nfl_basic.head()

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Player Id,Position,Weight (lbs),Years Played
0,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
1,NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
3,30.0,"New Orleans , LA",9/30/1986,LSU,Retired,NaN,5 Seasons,73.0,NaN,NaN,"Johnson, Quinn",NaN,quinnjohnson/79593,NaN,255.0,2009 - 2013
4,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN

In [5]:
nfl_basic.shape

(17172, 16)

In [6]:
nfl_basic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17172 entries, 0 to 17171
Data columns (total 16 columns):
Age                     13504 non-null float64
Birth Place             14794 non-null object
Birthday                16835 non-null object
College                 17133 non-null object
Current Status          17172 non-null object
Current Team            3096 non-null object
Experience              17133 non-null object
Height (inches)         17026 non-null float64
High School             2514 non-null object
High School Location    2510 non-null object
Name                    17172 non-null object
Number                  1708 non-null float64
Player Id               17172 non-null object
Position                3096 non-null object
Weight (lbs)            17121 non-null float64
Years Played            14076 non-null object
dtypes: float64(4), object(12)
memory usage: 2.1+ MB

The non-null data sets for weight, height, and years played should be enough to find the information I desire to predict.